body {
	
	background-image: url("images/spaceimage.jpg");
	

}
table {
  margin: auto;
}
h1, h2{
	color: white;
	font-family: 'Play', sans-serif;
}
/*.container {
  width: 1000px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}*/

.planet1 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  
}
.planet2 {
  position: absolute;
  width: 150px;
  height: 100px;
  top: 320px;
  
}
.cat {
  position: absolute;
  width: 450px;
  height: 350px;
  bottom: 0px;
  
}

#total-time {
	color: white;
	font-family: 'Play', sans-serif;
}
.winner {
	color: white;
	font-family: 'Play', sans-serif;
}
.timeColor {
	color: white;
	font-family: 'Play', sans-serif;
}
.playerOne {
	color: blue;
}

.rocketShipOne {
	width: 200px;
	height: 100px;
	position: absolute;
  bottom: 200px;
  left: 300px;
  

}
.time {
	color: white;
	font-family: 'Play', sans-serif;
}

.rocketShipTwo {
	width: 200px;
	height: 100px;
	position: absolute;
  bottom: 50px;
  left: 300px;
}
/*.playerOne {
  position: absolute;
  bottom: 200px;
  left: 20px;
}
.playerTwo {
  position: absolute;
  bottom: 50px;
  left: 20px;*/
}

table tr td {
  height: 30px;
  width: 30px;
  padding: 10px;
  border: 2px solid #ccc;
}



/*.ground{
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-color: gray;
}*/


.title {
	text-align: center;
}










/*.container {
  max-width: 800px;
  margin: 10px auto;
}*/

/*.container:after {
  content: "";
  display: table;
  clear: both;
}*/

/*.grid {
  float: left;
  width: 60%;
  margin-left: 20%;
}*/

/*.instructions {
  float: left;
  width: 20%;
}*/
